@using ElectronicTrade.Entities.Messages
@using ElectronicTrade.Entities.ViewModels.NotificationViewModel.NotificationTypes
@model ErrorOperationsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Fonts/css/all.css" rel="stylesheet" />
</head>
<body style="background-image:url(https://images.wallpaperscraft.com/image/bicycle_art_cyclist_127132_1920x1080.jpg)">

    <div class="container" style="margin-top:5%;">
        <div class="card text-center">
            <div class="card-header" style="background-color:salmon;">
                <b style="color:dimgrey;">@Model.Header</b>
            </div>
            <div class="card-body" style="background-color:palegoldenrod;">
                <h5 class="card-title" style="color:red;"><i class="fas fa-times"></i> @Model.title</h5>
                @foreach (ErrorMessageObject msg in Model.Items)
                {
                    <p class="card-text" style="color:darkorange;"><b><i class="far fa-times-circle"></i> @msg.Message</b></p> @* msg.Code ile mesajin kodunu da yakalayabilirsin.*@
                }
                <p class="btn btn-danger" style="color:antiquewhite;">@Model.RedirectionMessage</p>
            </div>
            <div class="card-footer text-muted" style="background-color:salmon;">

            </div>
        </div>
    </div>

    @*eror deneme*@

    <div class="container">

        <div class="card-columns ">

            <div class="card blue lighten-2 text-white text-left p-3 mt-2 mb-3" style="background-color:papayawhip;">
                <blockquote class="blockquote mb-0">
                    <p style="color:palevioletred;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer">
                        <small>
                            Electronic Trade <cite title="Source Title">Technical Support</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>

            <div class="card blue lighten-2 text-white text-center p-3 mt-2 mb-3" style="background-color:lightcoral;">
                <blockquote class="blockquote mb-0">
                    <p style="color:royalblue;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer">
                        <small>
                            Electronic Trade <cite title="Source Title">Technical Support</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>

            <div class="card p-3 text-right mt-2 mb-3" style="background-color:lightblue;">
                <blockquote class="blockquote mb-0">
                    <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        <small class="text-muted">
                            Electronic Trade <cite title="Source Title">Technical Support</cite>
                        </small>
                    </footer>
                </blockquote>
            </div>





        </div>

    </div>

    @*error deneme*@

    @{
        string js = string.Empty;

        if (Model.IsRedirecting == true)
        {
            js = " setTimeout(function () {window.location = '" + Model.RedirectingUrl + "';}, " + Model.RedirectingTimeout + ");";
        }
    }


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Fonts/js/all.js"></script>

    <script>
        $(function ()
        {
            @Html.Raw(js);
        });
    </script>
</body>
</html>
<style>
    .card-columns {
        @@include media-breakpoint-only(lg) {
            column-count: 4;
        }

        @@include media-breakpoint-only(xl) {
            column-count: 5;
        }
    }
</style>